/*Esta folla de estilos aplica estilos soamente ao botón menú */

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Light.ttf");
  }
  
.dropbtn {
  background-color: #ff4040;
  color: white;
  font-family: "roboto";
  font-weight: bold;
  padding: 16px;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  font-family: "roboto";
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ff0e0e;
}